{{template "header.html" .}}

<header class="jumbotron bg-primary">
  <div class="container">
    <div class="row">
      <h1>Wellcome to ginmvc</h1>
      <p></p>
    </div>
  </div>
</header>

<form method="post">
  <div class="container">
    <div class="row">
      <div class="span6">
        {{template "flash.html" .}}
      </div>
    </div>

    <div class="mb-3">
      <label for="inputEmail" class="form-label">User ID</label>
      <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">メールアドレスを入力して下さい</div>
    </div>
    <div class="mb-3">
      <label for="inputPassword" class="form-label">Password</label>
      <input type="password" class="form-control" id="inputPassword">
    </div>
<!--     <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
 -->
     <button type="submit" class="btn btn-primary" formaction="/login" name="login">login</button>
  </div>
</form>
{{template "footer.html" .}}
